.indicator {
  width: 50px;
  height: 4px;
  transition: width 250ms ease;
  background-color: white;
  margin-right: 8px;
  border-radius: 4px;
  margin-top: 24px;

  &[data-active] {
    width: 100px;
  }
}
